<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Data Structure
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}} </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Currently {{name}} is teaching Data Structure</p>
    <button type="submit" mat-raised-button color="primary" >Proceed</button>
  </mat-expansion-panel>
 
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Operating System
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Currently {{name}} is teaching Operating System</p>
    <button type="submit" mat-raised-button color="primary">Proceed</button>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        DBMS 
      </mat-panel-title>
      <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Currently {{name}} is teaching DBMS</p>
    <button type="submit" mat-raised-button color="primary">Proceed</button>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        TOC
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Currently {{name}} is teaching TOC</p>
    <button type="submit" mat-raised-button color="primary">Proceed</button>
  </mat-expansion-panel>

</mat-accordion>