<div fxLayoutAlign="center">
  <h2>Your Ratings</h2>
</div>
<mat-card fxLayoutAlign="center" fxLayout="column">
  <mat-card fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutAlign="center" class="cont">
      <mat-card class="rat">Progress Spinner</mat-card>
      <mat-card class="rat"> Rating % </mat-card>
    </div>
  </mat-card>
  <mat-card>Attribute Ratings</mat-card>
</mat-card>
<br>

<div fxLayoutAlign="center">
  <h2>Reviews</h2>
</div>
<mat-list *ngFor="let data of reviewForTeacher">
  <mat-list-item>{{data}}</mat-list-item>
  <mat-divider></mat-divider>
  <!-- <mat-list-item>Review 2</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Review 3</mat-list-item> -->
</mat-list>