<mat-toolbar color="primary">
  
  <div fxHide.gt-xs>
      <button mat-icon-button (click)="toggleOnCLick()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  
  <div class="logo"><a routerLink="/">Feedback System</a></div>
  
  <div class="links" fxFlex fxLayoutAlign="end" fxHide.xs>
    <a routerLink="/login" *ngIf="user == 'login'" >Login</a>
    <a routerLink="/student" *ngIf=" user == 'Student' " >SFeed</a>
    <a routerLink="/teacher" *ngIf="user == 'Teacher'">TFeed</a>
    <a routerLink="/admin" *ngIf="user == 'Admin'" >AFeed</a>
    <a class="logout" (click)="onLogout()" *ngIf="user == 'Admin'||user == 'Teacher'||user == 'Student'">Logout</a>
  </div>

</mat-toolbar>