
a{
    text-decoration: none;
    color: white;
    padding: 5px; 
}
a:hover, a:active{
    color: lightgrey;
    cursor: pointer; 
}

.nav-cap{
     display: inline-block;
     padding-left: 6px;
}
