<mat-toolbar color="primary">
  
  <div fxHide.gt-xs>
      <button mat-icon-button (click)="toggleOnCLick()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  
  <div class="logo"><a routerLink="/home">Feedback System</a></div>
  
  <div class="links" fxFlex fxLayoutAlign="end" fxHide.xs>
      <a routerLink="/login" *ngIf="user" >Login</a>
      <a routerLink="/student" *ngIf="user" >SFeed</a>
      <a routerLink="/teacher" *ngIf="user">TFeed</a>
      <a routerLink="/admin" *ngIf="user" >AFeed</a>
      <a class="logout" (click)="onLogout()" *ngIf="user">Logout</a>
  </div>

</mat-toolbar>