<div class="welcome" fxHide.lt-lg fxLayout.gt-md="row" fxLayoutGap="20px" fxLayout="column" fxLayoutAlign="center center">
    <section>
        <h1>For Students</h1>
        <p>To anonymously give feedbacks directly to their faculty.</p>
    </section>

    <section>
        <h1>Feedback System</h1>
        <p>Feedback solution for a better environment.</p>
        <img src="../../assets/images.png" fxFlex>
    </section>

    <section>
        <h1>For Teacher</h1>
        <p>To see the feedback of the students.</p>
    </section>
</div>

<div class="welcome" fxShow.lt-md fxHide.gt-md fxLayoutGap="20px" fxLayout="column" fxLayoutAlign="center center">
        <img src="../../assets/images.png" fxFlex>
    <section>
        <h1>Feedback System</h1>
        <p>Feedback solution for a better environment.</p>
    </section>

    <section>
        <h1>For Students</h1>
        <p>To anonymously give feedbacks directly to their faculty.</p>
    </section>

    <section>
        <h1>For Teacher</h1>
        <p>To see the feedback of the students.</p>
    </section>
</div>