<mat-card>
  <mat-card-content>
    <mat-tab-group class="tab-group">
      <mat-tab label="Add Students">
        <div class="tab-content">
          <form class="form" #StudentForm='ngForm' (ngSubmit)="studentForm(StudentForm)">

            <mat-form-field class="full-width">
              <input matInput type="text" ngModel name="username" required #name="ngModel">
              <mat-placeholder>
                <mat-icon>perm_identity</mat-icon>
                <b>Student Name</b>
              </mat-placeholder>
              <mat-error *ngIf="name.hasError('required')">Name must not be empty</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" hintLabel="Max 10 characters">
              <input matInput #input1="ngModel" #input name="id" maxlength="10" minlength="10" ngModel required>
              <mat-placeholder>
                <mat-icon>lock_outline</mat-icon>
                <b>Enter Id</b>
              </mat-placeholder>
              <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
              <mat-error *ngIf="input1.errors?.minlength">Id is too short</mat-error>
              <!-- <mat-error *ngIf="name.hasError('required')">Id must not be empty</mat-error> -->
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput type="text" name="password" ngModel #password="ngModel" minlength="7" required>
              <mat-placeholder>
                <mat-icon>lock_outline</mat-icon>
                <b>Password</b>
              </mat-placeholder>
              <mat-error>Enter valid Password</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-select placeholder="Select Class" #select="ngModel" name="select" ngModel required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let class1 of availableClass" [value]="class1">
                  {{class1}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="select.hasError('required')">Please choose any class</mat-error>
            </mat-form-field>

            <button type="submit" mat-raised-button color="primary" [disabled]="StudentForm.invalid">Submit</button>

          </form>
        </div>
      </mat-tab>
      <mat-tab label="Add Faculty">
        <div class="tab-content">

          <form class="form" #facultyForm='ngForm' (ngSubmit)="facultyData(facultyForm)">

            <mat-form-field class="full-width">
              <input matInput type="text" ngModel name="username" required #name="ngModel">
              <mat-placeholder>
                <mat-icon>perm_identity</mat-icon>
                <b>Faculty Name</b>
              </mat-placeholder>
              <mat-error *ngIf="name.hasError('required')">Name must not be empty</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" hintLabel="Max 10 characters">
              <input matInput #input1="ngModel" #input name="id" maxlength="10" minlength="10" ngModel required>
              <mat-placeholder>
                <mat-icon>lock_outline</mat-icon>
                <b>Enter Id</b>
              </mat-placeholder>
              <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
              <mat-error *ngIf="input1.errors?.minlength">Id is too short</mat-error>
              <!-- <mat-error *ngIf="name.hasError('required')">Id must not be empty</mat-error> -->
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput type="text" name="password" ngModel #password="ngModel" minlength="7" required>
              <mat-placeholder>
                <mat-icon>lock_outline</mat-icon>
                <b>Password</b>
              </mat-placeholder>
              <mat-error>Enter valid Password</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-select placeholder="Skills" #select="ngModel" ngModel name="selected" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let skill of courseList" [value]="skill">{{skill}}</mat-option>
              </mat-select>
              <mat-error *ngIf="select.hasError('required')">Please choose any skill</mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" [disabled]="facultyForm.invalid">Submit</button>
          </form>
        </div>
      </mat-tab>

      <mat-tab label="Show Students">
        <button (click)="showStudent()" mat-raised-button color="primary">Show List</button>
        <div class="example-container mat-elevation-z8">
          <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>

          <mat-table #table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="password">
              <mat-header-cell *matHeaderCellDef> Password </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.password}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="class">
              <mat-header-cell *matHeaderCellDef> Class </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.class}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>

      </mat-tab>
      <mat-tab label="Show Faculty">

        <button (click)="showFaculty()" mat-raised-button color="primary">Show List</button>

        <div class="example-container mat-elevation-z8">
          <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilterForFaculty($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>

          <mat-table #table1 [dataSource]="facultySource">

            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="password">
              <mat-header-cell *matHeaderCellDef> Password </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.password}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="skill">
              <mat-header-cell *matHeaderCellDef> Class </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.skill}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumnsForTeacher"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsForTeacher;"></mat-row>
          </mat-table>
        </div>


      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>